body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-color: #65afa9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    width: 300px;
    color: #ddd;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    color: #ddd;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between buttons */
    margin-top: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #33ef09;
    cursor: pointer;
  }

  .button:hover {
    background-color: #b30000;
  }

#message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
